<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2026 Element Creations Ltd.
  ~
  ~ SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial.
  ~ Please see LICENSE files in the repository root for full details.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.element.android.x.initializer.WatchBridgeCapabilityInitializer"
                android:value="androidx.startup" />
        </provider>

        <meta-data
            android:name="com.google.android.wearable.capability.element_x_watchbridge_phone"
            android:value="true" />

        <service
            android:name="io.element.android.x.watchbridge.ElementXWatchBridgeListenerService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/watchbridge" />
            </intent-filter>
        </service>

        <activity
            android:name="io.element.android.x.watchbridge.WearCompanionSettingsActivity"
            android:exported="false"
            android:label="Wear OS Companion"
            android:theme="@style/Theme.Material3.Light" />

    </application>

</manifest>
